name: Build & Publish

on:
  push:
    tags:
      - "v*.*.*"  # genera pacchetto quando fai un tag

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - run: pip install --upgrade build twine
      - run: python -m build
      - run: twine upload dist/* --username ${{ secrets.PYPI_USERNAME }} --password ${{ secrets.PYPI_PASSWORD }}
